<form [formGroup]="almacenForm" (ngSubmit)="submitForm()" class="m-4 p-5 justify-content-center row form">
  <div class="w-50 mt-5">
    <div class="mb-3">
      <label for="nombre_almacen">Nombre del almacén:</label>
      <input
        class="form-control"
        type="text"
        formControlName="nombre_almacen"
        id="nombre_almacen"
        placeholder="Nombre del almacén"
      />
      <div class="d-flex justify-content-between">
        <div>
          <p class="error" *ngIf="checkControl('nombre_almacen', 'required')">
            Campo es requerido
          </p>
          <p class="error" *ngIf="checkControl('nombre_almacen', 'minlength')">
            El nombre debe de contener más de 4 caracteres
          </p>
          <p class="error" *ngIf="checkControl('nombre_almacen', 'maxlength')">
            El nombre del almacen no debe de superar los 45 caracteres
          </p>
        </div>
        <p
          [ngClass]="{
            'red-text':
              almacenForm.get('nombre_almacen')?.touched &&
              almacenForm.get('nombre_almacen')?.value?.length > 45
          }"
          class="m-0"
        >
          {{ almacenForm.get("nombre_almacen")?.value?.length || 0 }} / 45
          caracteres
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="long">Longitud:</label>
      <input class="form-control" type="text" formControlName="long" id="long" placeholder="Long."/>
      <div class="d-flex justify-content-between">
        <div>
          <p class="error" *ngIf="checkControl('long', 'required')">
            Campo es requerido
          </p>
          <p class="error" *ngIf="checkControl('long', 'pattern')">
            Formato de longitud incorrecto
          </p>
          <p class="error" *ngIf="checkControl('long', 'min')">
            La longitud debe estar entre -180 y 180
          </p>
          <p class="error" *ngIf="checkControl('long', 'max')">
            La longitud debe estar entre -180 y 180
          </p>
        </div>
        <p
          [ngClass]="{
            'red-text':
              almacenForm.get('long')?.touched &&
              almacenForm.get('long')?.value?.length > 20
          }"
          class="m-0"
        >
          {{ almacenForm.get("long")?.value?.length || 0 }} / 20 caracteres
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="lat">Latitud:</label>
      <input class="form-control" type="text" formControlName="lat" id="lat" placeholder="Lat."/>
      <div class="d-flex justify-content-between">
        <div>
          <p class="error" *ngIf="checkControl('lat', 'required')">
            Campo es requerido
          </p>
          <p class="error" *ngIf="checkControl('lat', 'pattern')">
            Formato de latitud incorrecto
          </p>
          <p class="error" *ngIf="checkControl('lat', 'min')">
            La latitud debe estar entre -90 y 90
          </p>
          <p class="error" *ngIf="checkControl('lat', 'max')">
            La latitud debe estar entre -90 y 90
          </p>
        </div>
        <p
          [ngClass]="{
            'red-text':
              almacenForm.get('lat')?.touched &&
              almacenForm.get('lat')?.value?.length > 20
          }"
          class="m-0"
        >
          {{ almacenForm.get("lat")?.value?.length || 0 }} / 20 caracteres
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="activo">Activo:</label>
      <select class="form-control" formControlName="activo" id="activo">
        <option value="1">Sí</option>
        <option value="0">No</option>
      </select>

      <p class="error" *ngIf="checkControl('activo', 'required')">
        Campo es requerido
      </p>
    </div>

      <!-- Imagen que debe de subir al back la muestro una vez se selecciona-->
    <div class="m-5">
      <input type="file" name="image" class="form-control" formControlName="imagen_almacen" id="imagen_almacen" (change)="onChange($event)" />
      <img style="width: 300px;height: 300px;" *ngIf="url" [src]="url" />
    </div>

    <input
      type="submit"
      [class]="almacenForm.valid ? 'btn btn-info' : 'btn btn-secondary'"
      value="Aceptar"
      [disabled]="!almacenForm.valid"
    />
  </div>
</form>
