<form
  [formGroup]="almacenForm"
  (ngSubmit)="submitForm()"
  class="justify-content-center row form"
>
  <div class="col-12 col-md-7 mt-5 d-flex flex-column justify-content-center">
    <img class="formIcon mb-3" src="/assets/formicon.png" alt="Icono formulario">
    <h3 class="mb-5 text-center">Crear nuevo almacén</h3>
    <div class="mb-3">
      <input
        class="formInput form-control"
        type="text"
        formControlName="nombre_almacen"
        id="nombre_almacen"
        placeholder="Nombre del almacén"
      />
      <div class="d-flex justify-content-between">
        <div>
          <p class="error" *ngIf="checkControl('nombre_almacen', 'required')">
            Campo es requerido
          </p>
          <p class="error" *ngIf="checkControl('nombre_almacen', 'minlength')">
            El nombre debe de contener más de 4 caracteres
          </p>
          <p class="error" *ngIf="checkControl('nombre_almacen', 'maxlength')">
            El nombre del almacen no debe de superar los 45 caracteres
          </p>
        </div>
        <p
          [ngClass]="{
            'red-text':
              almacenForm.get('nombre_almacen')?.touched &&
              almacenForm.get('nombre_almacen')?.value?.length > 45
          }"
          class="m-0"
        >
          {{ almacenForm.get("nombre_almacen")?.value?.length || 0 }} / 45
          caracteres
        </p>
      </div>
    </div>
    <div class="mb-3">
      <input
        class="form-control formInput"
        type="text"
        formControlName="long"
        id="long"
        placeholder="Longitud"
      />
      <div class="d-flex justify-content-between">
        <div>
          <p class="error" *ngIf="checkControl('long', 'required')">
            Campo es requerido
          </p>
          <p class="error" *ngIf="checkControl('long', 'pattern')">
            Formato de longitud incorrecto
          </p>
          <p class="error" *ngIf="checkControl('long', 'min')">
            La longitud debe estar entre -180 y 180
          </p>
          <p class="error" *ngIf="checkControl('long', 'max')">
            La longitud debe estar entre -180 y 180
          </p>
        </div>
        <p
          [ngClass]="{
            'red-text':
              almacenForm.get('long')?.touched &&
              almacenForm.get('long')?.value?.length > 20
          }"
          class="m-0"
        >
          {{ almacenForm.get("long")?.value?.length || 0 }} / 20 caracteres
        </p>
      </div>
    </div>
    <div class="mb-3">
      <input
        class="form-control formInput"
        type="text"
        formControlName="lat"
        id="lat"
        placeholder="Latitud"
      />
      <div class="d-flex justify-content-between">
        <div>
          <p class="error" *ngIf="checkControl('lat', 'required')">
            Campo es requerido
          </p>
          <p class="error" *ngIf="checkControl('lat', 'pattern')">
            Formato de latitud incorrecto
          </p>
          <p class="error" *ngIf="checkControl('lat', 'min')">
            La latitud debe estar entre -90 y 90
          </p>
          <p class="error" *ngIf="checkControl('lat', 'max')">
            La latitud debe estar entre -90 y 90
          </p>
        </div>
        <p
          [ngClass]="{
            'red-text':
              almacenForm.get('lat')?.touched &&
              almacenForm.get('lat')?.value?.length > 20
          }"
          class="m-0"
        >
          {{ almacenForm.get("lat")?.value?.length || 0 }} / 20 caracteres
        </p>
      </div>
    </div>
    <div class="mb-3">
      <select class="form-control formInput" formControlName="activo" id="activo">
        <option value="" disabled selected hidden>Activo</option>
        <option value="1">Sí</option>
        <option value="0">No</option>
      </select>

      <p class="error" *ngIf="checkControl('activo', 'required')">
        Campo es requerido
      </p>
    </div>
    <div class="row">
      <!-- Area input imagen -->
      <div class="modale ms-xxl-5 mb-xxl-5">
        <div class="modale-body">
          <div class="d-flex align-items-center">
            <span class="logo-circle">
              <i class="fs-2 bi bi-filetype-jpg"></i>
            </span>
            <div class="ms-3">
              <h2 class="modal-title">Carga una imagen</h2>
              <p class="modal-description">Agrega una imagen al almacén</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-xxl-6">
              <button class="upload-area">
                <span class="upload-area-icon mb-3"><i class="fs-1 bi bi-file-earmark-image text-primary"></i></span>
                <span class="upload-area-title text-primary">Arrastra aquí para cargar</span>
                <span class="upload-area-description text-primary">Como alternativa, puedes escoger un archivo <br/>
                  <strong class="text-primary">Hacienclo click aquí</strong>
                </span>
                <input
                      type="file"
                      name="image"
                      class="file-input form-control container"
                      formControlName="imagen_almacen"
                      id="imagen_almacen"
                      (change)="onChange($event)"
                    />
              </button>
              </div>
            <!-- Previsualización imagen -->
            <img class="col-12 col-md-8 col-xl-6 mt-3 mt-xxl-0 col-xxl-4 img-fluid imgInput rounded-2" *ngIf="url" [src]="url" />
          </div>
        </div>
      </div>
    </div>

    <input
      type="submit"
      [class]="almacenForm.valid ? 'btn btn-info' : 'btn btn-secondary'"
      class="mt-3 align-self-start"
      value="Aceptar"
      [disabled]="!almacenForm.valid"
    />
  </div>
</form>
