input.ng-invalid.ng-touched{
    border-bottom: 3px solid tomato;
  }
  
  input.ng-valid.ng-touched{
    border-bottom: 3px solid lightgreen;
  }
  .error{
    color: tomato;
    font-size: 12px;
  }
  
  .red-text {
    color: tomato;
  }
  .derecha{
    position: relative;
    top: 30%;
  }

  .separarArticle{
    flex-grow:1;
    flex-basis:0;
  }