<article class="d-flex">
  <article class="col-6">
    <h2 class="h2 mt-4 text-center">Mantenimiento de pedido</h2>
    <form [formGroup]="pedidoForm" (ngSubmit)="submitForm()" class="m-4 form">
      <div class="mb-3">
        <label for="numero_pedido" class="mb-2 h6">Número del pedido :</label>
        <input
          class="formInput form-control"
          placeholder="Introduce un número válido de pedido"
          type="text"
          formControlName="numero_pedido"
          id="numero_pedido"
        />
        <div class="d-flex justify-content-between">
          <div>
            <p class="error" *ngIf="checkControl('numero_pedido', 'required')">
              Campo es requerido
            </p>
            <p class="error" *ngIf="checkControl('numero_pedido', 'min')">
              El número de pedido debe de ser mayor que cero.
            </p>
            <p class="error" *ngIf="checkControl('numero_pedido', 'max')">
              El número de pedido no debe de ser mayor de 10 cifras.
            </p>
          </div>
          <p
            [ngClass]="{
              'red-text':
                pedidoForm.get('numero_pedido')?.touched &&
                pedidoForm.get('numero_pedido')?.value?.length > 10
            }"
            class="m-0"
          >
            {{ pedidoForm.get("numero_pedido")?.value?.length || 0 }} / 10
            caracteres
          </p>
        </div>
      </div>
      <div class="mb-3">
        <label for="fecha_creacion" class="mb-2 h6">Fecha de creación:</label>
        <input
          type="date"
          id="fecha_creacion"
          class="form-control formInput"
          formControlName="fecha_creacion"
        />
        <div class="d-flex justify-content-between">
          <div>
            <div
              class="error"
              *ngIf="checkControl('fecha_creacion', 'required')"
            >
              La fecha de creación es requerida.
            </div>
            <div
              class="error"
              *ngIf="checkControl('fecha_creacion', 'fechaInvalida')"
            >
              La fecha de creación no puede ser anterior a la fecha actual.
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="fecha_entrega" class="mb-2 h6">Fecha de entrega:</label>
        <input
          type="date"
          id="fecha_entrega"
          class="form-control formInput"
          formControlName="fecha_entrega"
        />
        <div class="d-flex justify-content-between">
          <div>
            <div
              class="error"
              *ngIf="checkControl('fecha_entrega', 'fechaInvalida')"
            >
              La fecha de creación no puede ser anterior a la fecha actual.
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="almacen_origen" class="mb-2 h6">Almacén origen:</label>
        <select
          id="almacen_origen"
          class="form-select formInput"
          formControlName="almacen_origen"
        >
          <option value="" disabled selected hidden>
            Selecciona el almacen origen del listado
          </option>
          <option *ngFor="let almacen of almacenesOrigen" [value]="almacen.idalmacen">
            {{ almacen.nombre_almacen }}
          </option>
        </select>
        <div class="d-flex justify-content-between">
          <div>
            <div
              class="error"
              *ngIf="checkControl('almacen_origen', 'required')"
            >
              El pedido debe de tener un almacén origen.
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="almacen_destino" class="mb-2 h6">Almacén destino:</label>
        <select
          id="almacen_destino"
          class="form-select formInput"
          formControlName="almacen_destino"
        >
          <option value="" disabled selected hidden>
            Selecciona el almacen destino del listado
          </option>
          <option *ngFor="let almacen of almacenesDestino" [value]="almacen.idalmacen">
            {{ almacen.nombre_almacen }}
          </option>
        </select>
        <div class="d-flex justify-content-between">
          <div>
            <div
              class="error"
              *ngIf="checkControl('almacen_destino', 'required')"
            >
              El pedido debe de tener un almacén destino.
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="usuario_asignado" class="mb-2 h6">Empleado asignado:</label>
        <select
          id="usuario_asignado"
          class="form-select formInput"
          formControlName="usuario_asignado"
        >
          <option value="" disabled selected hidden>
            Selecciona al empleado del listado
          </option>
          <option
            *ngFor="let empleado of empleados"
            [value]="empleado.idempleado"
          >
            {{ empleado.nombre + " " + empleado.apellidos }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="usuario_responsable" class="mb-2 h6">Encargado:</label>
        <select
          id="usuario_responsable"
          class="form-select"
          formControlName="usuario_responsable"
        >
          <option value="" disabled selected hidden>
            Selecciona al encargado del listado
          </option>
          <option
            *ngFor="let encargado of encargados"
            [value]="encargado.idempleado"
          >
            {{ encargado.nombre + " " + encargado.apellidos }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="estado" class="mb-2 h6">Estado del pedido:</label>
        <select id="estado" class="form-select formInput" formControlName="estado">
          <option value="" disabled selected hidden>
            Selecciona el estado del pedido del listado
          </option>
          <option [value]="1">Pendiente de validar</option>
          <option [value]="2">Retificar</option>
          <option [value]="3">Validado</option>
          <option [value]="4">En tránsito</option>
          <option [value]="5">Pendiente de recepcionar</option>
          <option [value]="6">Finalizado</option>
        </select>
        <div class="d-flex justify-content-between">
          <div>
            <div class="error" *ngIf="checkControl('estado', 'required')">
              El pedido debe de tener un estado.
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="id_transporte" class="mb-2 h6"
          >Identificador del transporte a utilizar en el pedido :</label
        >
        <input
          type="text"
          id="id_transporte"
          class="form-control formInput"
          formControlName="id_transporte"
          placeholder="Indica el identificador del transporte"
        />
        <div class="d-flex justify-content-between">
          <div>
            <div
              class="error"
              *ngIf="checkControl('id_transporte', 'required')"
            >
              El pedido debe de tener un identificador de su transporte.
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="detalle_pedido" class="mb-2 h6">Detalle del pedido :</label>
        <textarea
          type="text"
          id="detalle_pedido"
          class="form-control formInput"
          formControlName="detalle_pedido"
          placeholder="Haz una descripción detallada del pedido"
        ></textarea>
        <div class="d-flex justify-content-between">
          <div>
            <div
              class="error"
              *ngIf="checkControl('detalle_pedido', 'required')"
            >
              El pedido debe de tener una descripción del pedido.
            </div>
          </div>
        </div>
      </div>
      <input 
        type="submit"
        [class]="pedidoForm.valid ? 'btn btn-success' : 'btn btn-secondary'"
        value="Aceptar"
        [disabled]="!pedidoForm.valid"
      />
      <input 
        type="button"
        class="btn btn-primary mx-4"
        value="Volver a pedidos"
        (click)="volverPedidos()"
      />
    </form>
  </article>
  <article  class="col-6 text-center align-middle">
    <section class="derecha">
      <img src="{{urlImagen}}" style="height: 300px;width: 300px;"  alt="Imagen de estado de pedido.">
      <p class="my-4 fs-5">{{pedidoActivo?.estado}}</p>
      <p class="my-4" *ngIf="crearPedido">Crea un nuevo pedido.</p>
      <p class="my-4" *ngIf="accionPteValidar">El pedido debe de ser rectificado. Revisa la incidencia abierta por el encargado y pasa el pedido a pendiente de ser validado.</p>
      <p class="my-4" *ngIf="accionValidar&&accionRectificar">Si el pedido es correcto, será validado. En caso contrario, mandar a rectificar.</p>
      <p class="my-4" *ngIf="accionEnvio" >El pedido se encuentra validado un encargado de tu almacen, puede realizarse el envío.</p>
      <p class="my-4" *ngIf="accionRecepcion" >El pedido se encuentra pendiente de recepcionar en tu almacén. Recepciona el envío y crea una incidencia si es el caso.</p>
      <div class="btn-group-lg" role="group" >
        <button  type="button" (click)="toPendienteValidar()" *ngIf="accionPteValidar" class="btn btn-secondary" >Pasar envío a ser validado.</button>
        <button type="button" (click)="toValido()" *ngIf="accionValidar" class="btn btn-secondary  mx-2">Validar</button>
        <button type="button" (click)="toRectificar()" *ngIf="accionRectificar" class="btn btn-secondary mx-2">Rectificar</button>
        <button type="button" (click)="toEnviar()" *ngIf="accionEnvio" class="btn btn-secondary mx-2">Hacer envío</button>
        <button type="button" (click)="toRecepcionar()" *ngIf="accionRecepcion" class="btn btn-secondary mx-2">Recepcionar</button>
        <button type="button" (click)="verCrearIncidencia()" *ngIf="verIncidencia" class="btn btn-danger mx-2">Añadir incidencia</button>
      </div>
    </section>
  </article>
  <div  *ngIf="cargarFormIncidencia" class="overlay" ><app-new-incidencia class="incidencia"  [pedidoIncidencia]="pedidoActivo" (ocultarIncidencia)="incidencia($event)"></app-new-incidencia></div>
</article>
