<div class="card">
    <div class="card-header">
      Detalle de pedido: (aqui irá el nombre del pedios)
    </div>
    <ul class="list-group list-group-flush">

      <li class="list-group-item">Id: </li>
      <li class="list-group-item">Fecha creacion: </li>
      <li class="list-group-item">Almacen Destino: </li>
      <li class="list-group-item">Almacen Origen: </li>
      <li class="list-group-item">Estado: </li>
      <li class="list-group-item">Fecha de entrega: </li>
    </ul>
  </div>