<div class="card" *ngIf="empleado">
  <div class="card-header">
    <h5>Detalle de: {{ empleado.nombre }} {{ empleado.apellidos }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item align-self-center">
      <img [src]="imagenesService.getImagenEmpleado(empleado.imagen_empleado)" alt="Imagen empleado" width="300" height="300" class="rounded-circle mt-3 border border-5 border-opacity-10" [ngClass]="{'border-success-subtle': empleado.activo === 1, 'border-danger-subtle': empleado.activo !== 1}">
    </li>
    <li class="list-group-item">Número: {{ empleado.num_empleado }}</li>
    <li class="list-group-item">Email: {{ empleado.email }}</li>
    <li class="list-group-item">Puesto: {{ empleado.puesto }}</li>
    <li class="list-group-item">Activo: {{ empleado.activo ? 'Sí' : 'No' }}</li>
    <li class="list-group-item">Fecha de Contratación: {{ empleado.fecha_contratacion | date: 'dd/MM/yyyy' }}</li>
    <li class="list-group-item">ID Almacén: {{ empleado.idalmacen }}</li>
  </ul>
  <div class="card-footer d-flex align-items-center gap-3">
    <button class="btn btn-secondary" (click)="editarEmpleado()">Editar</button>
    <button class="btn" [class.btn-outline-success]="empleado.activo !== 1" [class.btn-outline-danger]="empleado.activo === 1" (click)="activarDesactivarEmpleado(empleado)">{{ empleado.activo === 1 ? 'Desactivar' : 'Activar' }}</button>
  </div>
</div>


