<div class="container mt-4">
  <div class="row">
    <div class="">
      <!-- Buscador -->
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar incidencias"
          aria-label="Buscar incidencias"
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <button class="btn btn-warning" type="button">Buscar</button>
        </div>
      </div>

      <button class="btn btn-warning mb-3" routerLink="/nuevaIncidencia">
        Nueva Incidencia
      </button>

      <!-- Card con listado de todas las incidencias -->
      <div class="card col-10  ">
        <div class="card-header">Listado de Incidencias</div>
        <ul class="list-group list-group-flush">
          <div class=" card efectoHover list-group-item border-1 rounded-1" *ngFor="let resultado of arrIncidencias">
            <div
              class="d-flex flex-row justify-content-between"
              (click)="seleccionarIncidencia(resultado)"
            >
              <p class="badge bg-danger rounded-pill">
                Id: {{ resultado.idincidencia }}
              </p>
              <p class="h6">{{ resultado.titulo }}</p>

              <button
                class="btn btn-secondary"
                (click)="iraeditarincidencia(resultado.idincidencia)"
              >
                Editar
              </button>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Paginación -->
<nav class="mt-4 col-10" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="paginaActual === 1">
      <a
        class="page-link"
        href="javascript:void(0)"
        (click)="cambiarPagina(paginaActual - 1)"
        >Anterior</a
      >
    </li>
    <li
      class="page-item"
      *ngFor="let num of [].constructor(totalPaginas); let i = index"
      [class.active]="paginaActual === i + 1"
    >
      <a
        class="page-link"
        href="javascript:void(0)"
        (click)="cambiarPagina(i + 1)"
        >{{ i + 1 }}</a
      >
    </li>
    <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
      <a
        class="page-link"
        href="javascript:void(0)"
        (click)="cambiarPagina(paginaActual + 1)"
        >Siguiente</a
      >
    </li>
  </ul>
</nav>
