<div class="container mt-4">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <!-- Buscador -->
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar incidencias" aria-label="Buscar incidencias" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-warning" type="button">Buscar</button>
          </div>
        </div>
  
        <button class="btn btn-warning mb-3">Nueva Incidencia</button>
  
        <!-- Card con listado de todas las incidencias -->
        <div class="card">
          <div class="card-header">
            Listado de Incidencias
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Incidencia 1</li>
            <li class="list-group-item">Incidencia 2</li>
            <li class="list-group-item">Incidencia 3</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
