<div class="container mt-4 p-4" style="background-color: #f0f0f0; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
  <div class="row">
    <div class="">
      <!-- Buscador -->
      <div class="input-group mb-5">
        <input
          type="number"
          class="form-control"
          placeholder="Buscar incidencias por número de pedido"
          aria-label="Buscar incidencias por número de pedido"
          aria-describedby="basic-addon2"
          style="border-radius: 5px"
          id="inputNumPedido"
      [(ngModel)]="numPedido"
          (input)="cargarSiVacio()"
        />
        <div class="input-group-append">
          <button class="btn btn-warning mx-1" type="button"><i class="bi bi-search" (click)="buscarIncidenciaId()" ></i></button>
          <button class="btn btn-light mx-1" type="button" (click)="mostrarTodos()"> <i class="bi bi-x"></i></button>
        </div>
        
      </div>

      <button class="btn btn-success mb-3" routerLink="/nuevaIncidencia">
        <i class="bi bi-plus"></i>
        Nueva Incidencia
      </button>

      <!-- Card con listado de todas las incidencias -->
      <div class="card mb-4">
        <div class="card-header">Listado de Incidencias</div>
        <ul class="list-group list-group-flush ">
          <div class=" card efectoHover list-group-item border-1 rounded-1 p-3"  *ngFor="let resultado of arrIncidencias">
            <div
              class="d-flex flex-row justify-content-between align-items-center text-center"
              (click)="seleccionarIncidencia(resultado)"
              
            >
              <p class="badge " [ngClass]="vistaNoVista(resultado.vista)">
                Id: {{ resultado.idincidencia }}
              </p>
              <p class="h6">{{ resultado.titulo }}</p>

              <button 
                class="btn btn-light" [ngClass]="vistaNoVista(resultado.vista)"
                (click)="cambiarEstadoVista(resultado)"
              >
              {{ resultado.vista === 1 ? 'Vista' : 'Ver' }}
              </button>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>


<!-- Paginación -->
<nav aria-label="Paginacion" class="mb-5">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <button class="page-link" (click)="irAnterior()">Anterior</button>
    </li>
    <li class="page-item" *ngFor="let paginas of arrayPaginas; let i = index">
      <button
        class="page-link"
        [ngClass]="{ 'page-link': true, active: i + 1 == paginaActual }"
        (click)="cargarIncidencias(i + 1)"
      >
        {{ i + 1 }}
      </button>
    </li>
    <li class="page-item">
      <button class="page-link" (click)="irSiguiente()">Siguiente</button>
    </li>
  </ul>
</nav>
</div>
