<div class="card">
    <div class="card-header">
      Detalle de emplado: (aqui irá el nombre del empleado)
    </div>
    <ul class="list-group list-group-flush">

      <li class="list-group-item">Id: </li>
      <li class="list-group-item">Número: </li>
      <li class="list-group-item">Nombre: </li>
      <li class="list-group-item">Apellidos: </li>
      <li class="list-group-item">Email: </li>
      <li class="list-group-item">Puesto: </li>
      <li class="list-group-item">Activo?: </li>
      <li class="list-group-item">Fecha de contratación: </li>
      <li class="list-group-item">Almacén: </li>
    </ul>
  </div>