<div class="mt-4 pt-4">
  <h4 class="mt-4 pt-4 m-4">Detalle de la incidencia </h4>
</div>
  <div class="card pt-0 mt-0 m-4" *ngIf="incidencia">
    <div class="card-header"  [ngClass]="claseSegunVista">
      <h3>{{ incidencia.titulo }}</h3>
    </div>
    <ul class="list-group list-group-flush">
      
      <li class="list-group-item"> <p> <strong>Descripción: </strong>{{ incidencia.descripcion }} </p></li>
      <li class="list-group-item"> <p><strong>Id: </strong> {{ incidencia.idIncidencia }}</p></li>
      <li class="list-group-item"> <p><strong>Id pedido: </strong> {{ incidencia.idpedido_asociado }}</p></li>
      <li class="list-group-item"> <p><strong>Responsable: </strong> {{ incidencia.usuario_asignado.nombre}}</p></li>
      <li class="list-group-item"> <p><strong>Vista: </strong> {{ incidencia.vista }}</p></li>
    </ul>
    <input type="button" value="Editar incidencia" class="btn btn-dark" (click)="iraeditarincidencia(incidencia.idIncidencia)"/>
  </div>