
  <div class="card p-" *ngIf="incidencia">
    <div class="card-header bg-danger-subtle">
      Detalle de la incidencia: 
    </div>
    <ul class="list-group list-group-flush ">
      <li class="list-group-item bg-body-secondary">Título: {{ incidencia.titulo }}</li>
      <li class="list-group-item bg-body-secondary">Descripción: {{ incidencia.descripcion }}</li>
      <li class="list-group-item bg-body-secondary">Id: {{ incidencia.idIncidencia }}</li>
      <li class="list-group-item bg-body-secondary">ID pedido: {{ incidencia.idpedido_asociado }}</li>
      <li class="list-group-item bg-body-secondary">Responsable: {{ incidencia.usuario_asignado.nombre}}</li>
      <li class="list-group-item bg-body-secondary">Vista: {{ incidencia.vista }}</li>
    </ul>
  </div>