.body {
  background: linear-gradient(45deg, #1cb5e0, #fff, #ffc107); /* Fondo degradado azul claro, blanco y negro */
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  width: 100vw
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.welcome-container {
  text-align: center;
  padding: 100px;
}

.welcome-container h1{
  font-size: 70px;
}
.welcome-container h2{
  font-size: 50px;
  opacity: 80%;
}

.card {
  width: 400px; /* Ajusta el ancho del card según tus necesidades */
  max-width: 100%;
  border-radius: 15px; /* Bordes redondeados */
  height: auto; /* Esto permitirá que el card crezca en altura según su contenido */
}

.card-header {
  background-color: #fff; /* Color de fondo del card header */
  text-align: center;
  border-radius: 15px; /* Bordes redondeados */
  padding: 15px;
}

.card-body {
  padding: 20px;
}

/* Espacio entre los elementos del formulario */
.form-group {
  margin-bottom: 15px;
}

/* Botón alineado a la derecha con letras blancas */
.btn-login {
  float: right;
  color: #fff;
}


  

  