.body {
  background: linear-gradient(45deg, #0f8bae, #fff, #0f8bae ); /* Fondo degradado azul claro, blanco y negro */
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .body {
    flex-direction: column;
  }

}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.welcome-container {
  text-align: center;
  padding: 25px;
}

.welcome-container h1 {
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.card {
  width: 600px; /* Ajusta el ancho del card según tus necesidades */
  border-radius: 15px; /* Bordes redondeados */
  height: auto; /* Esto permitirá que el card crezca en altura según su contenido */
  box-shadow: 6px 9px 15px -3px rgba(0,0,0,0.45);
  background-color: rgb(255, 255, 255,0.2);
}

.card-header {
  text-align: center;
  border-radius: 15px; /* Bordes redondeados */
  padding: 15px;
}

.card-body {
  padding: 20px;
}

/* Espacio entre los elementos del formulario */
.form-group {
  margin-bottom: 15px;
}

/* Botón alineado a la derecha con letras blancas */
.btn-login {
  float: right;
  color: #fff;
}
