<div class="container mt-4">
  <div class="input-group mb-3">
    <input
      type="number"
      minlength="0"
      maxlength="9999999999"
      class="form-control"
      placeholder="Buscar por número de pedido"
      aria-label="Buscar por número de pedido"
      aria-describedby="basic-addon2"
      id="inputNumPedido"
      [(ngModel)]="numPedido"
    />
    <div class="input-group-append">
      <button class="btn btn-warning" type="button" (click)="buscarPedidoId()">Buscar</button>
    </div>
  </div>
  <div class="d-flex">
    <button class="btn btn-warning mb-3 mx-3" (click)="crearPedido()">
      Nuevo pedido
    </button>

    <div
      class="btn-warning mb-3 mx-3"
      role="group"
      aria-label="Opciones de filtrado"
    >
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-primary dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Filtrar peticiones por estado
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button" (click)="filtroEstado(1,1)">Pendientes de validar</button></li>
          <li><button class="dropdown-item" type="button" *ngIf="esEmpleado" (click)="filtroEstado(2,1)">Rectificar</button></li>
          <li><button class="dropdown-item" type="button" *ngIf="esEmpleado" (click)="filtroEstado(3,1)">Validadas</button></li>
          <li><button class="dropdown-item" type="button" *ngIf="esEmpleado" (click)="filtroEstado(4,1)">En tránsito</button></li>
          <li><button class="dropdown-item" type="button" (click)="filtroEstado(5,1)">Espera de recepción</button></li>
          <li><button class="dropdown-item" type="button" *ngIf="esEmpleado" (click)="filtroEstado(6,1)">Finalizadas</button></li>
        </ul>
      </div>
    </div>
    <button class="btn btn-warning mb-3 mx-3" (click)="borrarfiltro()">
      Borrar filtro
    </button>
  </div>

  <div class="card">
    <div class="card-header">Listado de Pedidos</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let pedido of pedidosEmpleado">
        <app-pedido
          [pedido]="pedido"
          (click)="cargarPedido(pedido)"
        ></app-pedido>
      </li>
    </ul>
  </div>
  <nav aria-label="Paginacion">
    <ul class="pagination justify-content-center m-5">
      <li class="page-item">
        <button class="page-link" (click)="irAnterior()">Anterior</button>
      </li>
      <li class="page-item" *ngFor="let paginas of arrayPaginas; let i = index">
        <button
          class="page-link"
          [ngClass]="{ 'page-link': true, active: i + 1 == paginaActual }"
          (click)="irPagina(i + 1)"
        >
          {{ i + 1 }}
        </button>
      </li>
      <li class="page-item">
        <button class="page-link" (click)="irSiguiente()">Siguiente</button>
      </li>
    </ul>
  </nav>
</div>
