input.ng-invalid.ng-touched {
    border-bottom: 3px solid tomato;
}

input.ng-valid.ng-touched {
    border-bottom: 3px solid lightgreen;
}

.error {
    color: tomato;
    font-size: 12px;
}

.red-text {
    color: tomato;
}
.formInput{
    padding: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
  }
  .formIcon {
    width: 100px;
    align-self: center;
  }