<form [formGroup]="incidenciasForm" (ngSubmit)="submitForm()" class="justify-content-center row form">

    <div class="col-12 col-md-7 mt-5 d-flex flex-column justify-content-center">
        <img class="formIcon mb-3" src="/assets/incidencia.png" alt="Icono formulario">
        <h3 class="mb-5 text-center">{{ modo === 'create' ? 'Crear nueva incidencia' : 'Actualizar incidencia' }}</h3>
    <!-- TITULO -->
    <div class="mb-3">
        <label for="titulo">Título de la incidencia:</label>
        <input class="form-control formInput" type="text" formControlName="titulo" id="titulo" />
        <div class="d-flex justify-content-between">
            <div>
                <p class="error" *ngIf="checkControl('titulo', 'required')">
                    Es necesario introducir un titulo de incidencia
                </p>
                <p class="error" *ngIf="checkControl('titulo', 'minlength')">
                    El título debe de contener más de 4 caracteres
                </p>
                <p class="error" *ngIf="checkControl('titulo', 'maxlength')">
                    El título de la incidencia no debe de superar los 45 caracteres
                </p>
            </div>
            <p [ngClass]="{
                'red-text':
                    incidenciasForm.get('titulo')?.touched &&
                    incidenciasForm.get('titulo')?.value?.length > 45
                }" class="m-0">
                {{ incidenciasForm.get("titulo")?.value?.length || 0 }} / 45
                caracteres
            </p>
        </div>
    </div>

    

    <!-- DESCRIPCION -->
    <div class="mb-3">
        <label for="descripcion">Descripción:</label>
        <input class="form-control formInput" type="text" formControlName="descripcion" id="descripcion" />
        <div class="d-flex justify-content-between">
            <div>
                <p class="error" *ngIf="checkControl('descripcion', 'required')">
                    la incidencia debe tener una descripción
                </p>
                <p class="error" *ngIf="checkControl('descripcion_incidencia', 'minlength')">
                    La descripción debe de contener más de 4 caracteres
                </p>
                <p class="error" *ngIf="checkControl('descripcion_incidencia', 'maxlength')">
                    La descripción de la incicencia no debe de superar los 450 caracteres
                </p>
            </div>
            <p [ngClass]="{
            'red-text':
              incidenciasForm.get('descripcion')?.touched &&
              incidenciasForm.get('descripcion')?.value?.length > 450
          }" class="m-0">
                {{ incidenciasForm.get("descripcion")?.value?.length || 0 }} / 450
                caracteres
            </p>
        </div>
    </div>

    <!-- TIPO -->
    <div class="mb-3">
        <label for="tipo_incidencia">Tipo de la incidencia:</label>
        <input class="form-control formInput" type="number" formControlName="tipo_incidencia" id="tipo_incidencia" />
        <div class="d-flex justify-content-between">
          <div>
            <p class="error" *ngIf="checkControl('tipo_incidencia', 'required')">
              Este campo es requerido y debe ser un número
            </p>
          </div>
        </div>
      </div>



<!-- ID PEDIDO ASOCIADO -->
<div class="mb-3">
    <label for="numeroPedidoAsociado">Número del pedido asociado:</label>
    <input class="form-control formInput" type="text" formControlName="numeroPedidoAsociado" id="numeroPedidoAsociado" />
    <div>
        <p class="error" *ngIf="checkControl('numeroPedidoAsociado', 'required')">
            Este campo es requerido.</div>
</div>

<!-- ID VISTA -->

<div class="mb-3">
    <label for="vista">Vista:</label>
    <select id="vista" class="form-select formInput" formControlName="vista">
        <option value="" disabled selected hidden>
          Selecciona el estado está vista o no.
        </option>
        <option [value]="1">Si</option>
        <option [value]="0">No</option>
    </select>
    <div>
        <p class="error" *ngIf="checkControl('vista', 'required')">
            Este campo es requerido.</div>
</div>



    <input type="submit"  class="mt-4 align-self-center" [class]="incidenciasForm.valid ? 'btn btn-primary' : 'btn btn-secondary'" value="Aceptar"
        [disabled]="!incidenciasForm.valid" />
    </div>

</form>