<div class="card efectoHover" >
    <div class="card-header d-flex justify-content-between " [ngClass]="claseSegunEstado">
      <div class="mx-2 my-1 textoTituloPedidos">Nº {{pedido?.numero_pedido}}</div>
      <div class="d-flex"> 
        <div class="my-1 mx-2 textoTituloPedidos">{{pedido?.estado}} </div>
      <span (click)="incidencia(false)" *ngIf="hayIncidencia" class="mx-1"><svg xmlns="http://www.w3.org/2000/svg" height="17" viewBox="0 -1000 960 960" width="17"><path d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg></span>
    </div>

    </div>
    <div class="card-body">
      <div class="card-text d-flex justify-content-between">
        <div><span class="textoCuerpoPedidos">Origen: {{almacenOrigen?.nombre_almacen}}</span> </div>
        <div class="mx-5 mb-3"><span class="textoCuerpoPedidos">Destino: {{almacenDestino?.nombre_almacen}}</span> </div>
      </div>
      <div class="card-text d-flex justify-content-between">
        <div><span class="textoCuerpoPedidos">Fecha creación: {{pedido?.fecha_creacion| date:'dd/MM/yyyy'}}</span> </div>
        <div class="mx-5 textoCuerpoPedidos"><span class="font-weight-bold">Fecha entrega: {{pedido?.fecha_entrega | date:'dd/MM/yyyy'}}</span> </div>
      </div>
    </div>
  </div>
  <div  *ngIf="verIncidencia" class="overlay" ><app-incidencia class="incidencia"  [pedidoIncidencia]="pedido" (ocultarIncidencia)="incidencia($event)"></app-incidencia></div>