.textoCuerpoPedidos{
    font-weight: 600;
}
.textoTituloPedidos{
    font-weight: 700;
}
.pendienteValidar{
    background-color: #FFCC96;
}
.rectifiar{
    background-color: #FF8E8E;
}
.validado{
    background-color: #ABFF8E;
}
.transito{
    background-color: #8EF1FF;
}
.pendienteRecepcion{
    background-color: #5F76FE;
}
.finalizado{
    background-color: #B6B6B6;
}
.sinEstado{
    background-color: #000000;
}
.efectoHover:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}
