<section class="col-md-8">
  <!-- Buscador -->
  <div class="d-flex">
    <input type="text" class="form-control" placeholder="Buscar almacenes" aria-label="Buscar almacenes" aria-describedby="basic-addon2">
    <button class="btn btn-warning ms-1" type="button">Buscar</button>
  </div>
  <!-- Botón nuevo almacen form -->
  <button class="btn btn-warning m-3" routerLink="/nuevoAlmacen">Nuevo almacen</button>
</section>

<section class="row justify-content-center mt-4">
  <!-- lista-almacenes.component.html -->
  <h3 class="text-center">Listado de Almacenes</h3>
  <ul class="row gap-2 gap-xxl-1 justify-content-center">
    <li class="col-12 col-lg-5 card p-4" *ngFor="let almacen of arrAlmacenes">
      <ul class="list-group">
        <li class="list-group-item" [ngClass]="getClasesActivo(almacen.activo)"><span class="fw-bold">ID:</span> {{ almacen.idalmacen }}</li>
        <li class="list-group-item">Nombre: {{ almacen.nombre_almacen }}</li>
        <li class="list-group-item">Longitud: {{ almacen.long }}</li>
        <li class="list-group-item">Latitud: {{ almacen.lat }}</li>
        <li class="list-group-item">Activo: {{ getTextoActivo(almacen.activo) }}</li>
      </ul>
      <img class="img-fluid rounded mt-2" [src]="imagenesService.getImagenAlmacen(almacen.imagen_almacen)" alt="Imagen almacen">
      <div class="row column-gap-4 mt-4 justify-content-end" role="group">
        <!-- Botón para activar/desactivar el almacén -->
        <button class="col-5 col-xxl-4 btn btn-block" type="button" [class.btn-outline-success]="almacen.activo" [class.btn-outline-danger]="!almacen.activo"
          (click)="toggleEstadoAlmacen(almacen)">
          {{ almacen.activo ? 'Activo' : 'Inactivo' }}
        </button>
        <!-- Botón de "Editar" que redirige a la ruta /updateAlmacen/:idalmacen -->
        <button class="col-5 col-xxl-4 btn btn-light btn-block" type="button" [routerLink]="['/updateAlmacen', almacen.idalmacen]">
          Editar
        </button>
      </div>
    </li>
  </ul>
</section>
