.sidebar {
    height: 100vh;
    position: fixed;
    overflow-y: auto;
}

.navbar-brand {
    padding: 1rem;
    text-align: center;
}

.nav-link {
    color: rgba(0, 0, 0, .9);
}


.nav-link:hover {
    color: rgba(0, 0, 0, .7);
}

.btn-danger {
    margin: 1rem;
}

.nav-link-active {
    background-color: #FFD700; /* Color de fondo para el enlace activo */
    color: #000000; /* Color de texto para el enlace activo */
  }

