<nav class=" sidebar d-flex flex-column  border border-dark">
    <a class="navbar-brand" href="#">TFM</a>
    <ul class="nav nav-pills flex-column mb-auto ">
        <li class="nav-item">
            <a class="nav-link bg-warning border border-dark" href="">MIS PEDIDOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-body-secondary  border border-dark" href="">NUEVO PEDIDO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-body-secondary border border-dark" href="">INCIDENCIAS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-body-secondary border border-dark" href="">ALMACENES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-body-secondary border border-dark" href="">EMPLEADOS</a>
        </li>
    </ul>
    <button class="btn btn-danger mt-auto">Log out</button>
</nav>