i {
  color: black;
}

span {
  color: black;
}

#navItem {
  color: black;
}

.navItem:hover {
  background-color: #FFDF7F;
}

.navItem_sub:hover {
  background-color: #FFDF7F;
}

.userSidebar{
  background-color: #FFDF7F;
}
