<nav class="sticky-top d-flex flex-column vh-100">
  <div class="d-flex flex-column align-items-center pt-2 vh-100" *ngIf="isLoggedIn$ | async">
    <a routerLink="/" class="mt-5 icon-link icon-link-hover">
        <!-- <img src="assets/logoTFM.png" class="img-fluid w-100 p-3" alt="Logo TFM"> -->
        <i class="fs-1 bi bi-box-seam-fill text-warning"></i>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 mt-5 me-auto py-sm-4 justify-content-center align-items-sm-start w-100" id="menu">
        <li class="w-100 ps-5 pb-2 navItem">
          <a routerLink="/" class="nav-link d-flex align-items-center px-0 icon-link icon-link-hover">
            <i class="fs-3 bi bi-house-door"></i><span class="fs-5 ms-3 pt-3 d-none d-xl-inline">Home</span>
          </a>
        </li>
        <li class="w-100 ps-5 mt-2 navItem" [ngClass]="{'pb-2': isEmpleado() || isEncargado()}">
          <a href="#submenu0" data-bs-toggle="collapse" class="nav-link px-0 d-flex align-items-center" *ngIf="isEmpleado() || isEncargado()">
            <i class="fs-3 bi bi-table"></i><span class="fs-5 ms-3 d-none d-xl-inline">Pedidos</span><i class="ms-3 bi bi-caret-down d-none d-xl-inline"></i>
          </a>
        </li>
          <ul class="collapse nav flex-column mx-auto" id="submenu0" data-bs-parent="#menu">
            <li class="w-100 px-3 px-lg-4 rounded-4 navItem_sub">
                <a routerLink="/pedidos" class="nav-link px-0 icon-link icon-link-hover" data-bs-toggle="tooltip" *ngIf="isEmpleado() || isEncargado()"><i class="fs-5 bi bi-archive"></i><span class="d-none d-xl-inline ms-2">Ver pedidos</span></a>
            </li>
            <li class="w-100 px-3 px-lg-4 rounded-4 navItem_sub">
                <a routerLink="/gestionPedido" class="nav-link px-0 icon-link icon-link-hover" data-bs-toggle="tooltip" *ngIf="isEmpleado()"><i class="fs-5 bi bi-box-seam"></i><span class="d-none d-xl-inline ms-2">Nuevo pedido</span></a>
            </li>
          </ul>
        <li class="w-100 ps-5 navItem mt-2" [ngClass]="{'pb-2': isEmpleado() || isEncargado()}">
          <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 d-flex align-items-center" *ngIf="isEmpleado() || isEncargado()">
            <i class="fs-3 bi bi-speedometer2"></i><span class="fs-5 ms-3 d-none d-xl-inline">Incidencias</span><i class="ms-3 bi bi-caret-down d-none d-xl-inline"></i>
          </a>
        </li>
          <ul class="collapse nav flex-column mx-auto" id="submenu1" data-bs-parent="#menu">
            <li class="w-100 px-3 px-lg-4 rounded-4 navItem_sub">
                <a routerLink="/incidencias" class="nav-link px-0 icon-link icon-link-hover" data-bs-toggle="tooltip" *ngIf="isEmpleado() || isEncargado()"><i class="fs-5 bi bi-exclamation-triangle"></i><span class="d-none d-xl-inline ms-2">Ver incidencias</span></a>
            </li>
            <li class="w-100 px-3 px-lg-4 rounded-4 navItem_sub">
                <a routerLink="/nuevaIncidencia" class="nav-link px-0 icon-link icon-link-hover" data-bs-toggle="tooltip" *ngIf="isEmpleado()"><i class="fs-5 bi bi-input-cursor-text"></i><span class="d-none d-xl-inline ms-2">Abrir incidencia</span></a>
            </li>
          </ul>
        <li class="w-100 ps-5 navItem mt-2" [ngClass]="{'pb-2': isAdmin()}">
          <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 d-flex align-items-center" *ngIf="isAdmin()">
            <i class="fs-3 bi bi-shop-window"></i><span class="fs-5 ms-3 d-none d-xl-inline">Almacenes</span><i class="ms-3 bi bi-caret-down d-none d-xl-inline"></i>
          </a>
        </li>
          <ul class="collapse nav flex-column mx-auto" id="submenu2" data-bs-parent="#menu">
            <li class="w-100 px-3 px-lg-4 rounded-4 navItem_sub">
              <a routerLink="/almacenes" class="nav-link px-0 icon-link icon-link-hover" data-bs-toggle="tooltip" data-bs-title="Default tooltip"><i class="fs-5 bi bi-list"></i><span class="d-none d-xl-inline ms-2">Ver almacenes</span></a>
            </li>
            <li class="w-100 px-3 px-lg-4 rounded-4 navItem_sub">
              <a routerLink="/nuevoAlmacen" class="nav-link px-0 icon-link icon-link-hover" data-bs-toggle="tooltip" data-bs-title="Default tooltip"><i class="fs-5 bi bi-pen"></i><span class="d-none d-xl-inline ms-2">Crear almacén</span></a>
            </li>
          </ul>
        <li class="w-100 ps-5 navItem mt-2" [ngClass]="{'pb-2': isAdmin()}">
          <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 d-flex align-items-center" *ngIf="isAdmin()">
            <i class="fs-3 bi bi-people"></i><span class="fs-5 ms-3 d-none d-xl-inline">Empleados</span><i class="ms-3 bi bi-caret-down d-none d-xl-inline"></i>
          </a>
        </li>
          <ul class="collapse nav flex-column mx-auto" id="submenu3" data-bs-parent="#menu">
            <li class="w-100 px-3 px-lg-4 rounded-4 navItem_sub">
              <a routerLink="/empleados" class="nav-link px-0 icon-link icon-link-hover" data-bs-toggle="tooltip"><i class="fs-5 bi bi-person-lines-fill"></i><span class="d-none d-xl-inline ms-2">Ver empleados</span></a>
            </li>
            <li class="w-100 px-3 px-lg-4 rounded-4 navItem_sub">
              <a routerLink="/empleado/nuevo" class="nav-link px-0 icon-link icon-link-hover" data-bs-toggle="tooltip"><i class="fs-5 bi bi-person-plus"></i><span class="d-none d-xl-inline ms-2">Crear empleado</span></a>
            </li>
          </ul>
    </ul>
  </div>
  <!-- <hr> -->
  <div class="p-4 userSidebar sticky-bottom d-flex flex-column justify-content-center bg-warning justify-content-end">
    <div class="d-flex align-items-center justify-content-center">
        <img [src]="imagenesService.getImagenEmpleado(empleado.imagen_empleado)" alt="Imagen empleado" width="50" height="50" class="rounded-circle">
        <span class="d-none d-xl-inline ms-3 fs-4">{{ empleado?.nombre + ' ' + empleado.apellidos || 'User Name' }}</span>
    </div>
    <a class="d-flex align-items-center justify-content-center nav-link icon-link icon-link-hover" routerLink="/login" (click)="onLogout()"><span class="d-none d-xl-inline">Sign out</span> <i class="fs-4 bi bi-box-arrow-right ms-1 mb-2 mt-2 mt-xl-0"></i></a>
  </div>
</nav>

