<article class="card cardIncidencia">
  <div class="card-body">
    <div class="d-flex flex-row justify-content-between mt-2 mx-2">
      <h5 class="card-title mb-3 text-center titulo">
        Incidencias del pedido: {{ pedidoIncidencia?.numero_pedido }}
      </h5>
      <a class="btn btn-close" (click)="cerrar()"></a>
    </div>

    <div class="contenedorIncidencias">
      <section
        class="form-check d-flex alinear justify-content-between"
        *ngFor="let incidencia of incidenciasPedido"
      >
        <div>
          <h5>{{ incidencia.titulo }}</h5>
          <p class="p-3 globoIncidencia">{{ incidencia.descripcion }}</p>
        </div>
        <div>
          <input
            class="form-check-input mx-4"
            type="checkbox"
            id="flexCheckChecked"
            [checked]="incidencia.vista"
            (change)="cambioValorVista(incidencia.idincidencia, incidencia.vista)"
          />
          <label class="form-check-label" for="flexCheckChecked"> Vista </label>
        </div>
      </section>
    </div>

    <a class="btn btn-dark" routerLink="/gestionPedido/{{ pedidoIncidencia?.idPedido }}">
      Mantenimiento del pedido
    </a>
  </div>
</article>