.globoIncidencia {
  border-radius: 10px;
  background-color: white;
  background-color: hsl(43, 100%, 96%);
}
.cardIncidencia {
  
  width: 40rem;
  border-width: 1px;
  background-color: rgb(255, 252, 74);
}
.contenedorIncidencias{
  position: relative;
    border: 1px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 20px;
}
.titulo{
    margin-left: 8rem;
}
.alinear{
    align-items: center;
}

.noVista {
    background-color: rgb(248, 125, 125);
    color: black;
  }
  
.vista {
    background-color: rgb(174, 255, 174);
    color: black;
  }
  